.header{
            background: #385898;
            width:100%;
            height:100px;
        }
.logo{
           width:50%;
           padding-top: 32px;
     }
.logodesign{
            color: white;
            font-size: 35px;
            font-weight: bold;
            text-decoration: none;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            margin-left:170px;
            float:left;
            }
.login{
            width:50%;
            float:left;
            margin-left:190px;
      }
.footer{
            width:100%;
            height:100px;
        }
.body{  
      margin:0;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.loginlabel{
                  color:white;
                  font:11px;
            }
.forgotten{
            color:#fff;
            font-size:11px;
            text-decoration:none;
            color:#9cb4d8  
          }
.buttonstyle{
                  background:#4267b2;
                  color:#fff;
                  height:20px;
                  border-color:#29487d;
                  cursor: pointer;
            }
.buttonstyle:hover{
                  background:#7c94c5;
            }
.leftsection{   
            width:50%;
            float:left;
            }
.rightsection{
            width:50%;
            float:left;
             }
.content{
            background:linear-gradient(white,#D3D8E8);
            width:100%;
            height:550px;
        }
.para{
      font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
      font-weight: normal;
      color: #1c1e21;
      padding-left:100px;
      margin-top: 200px;
      margin-left: 10px;
      border-radius: 6px;
      border-color: #ccd0d5;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-size: 24px;
      line-height: 28px;
      width: auto;
      }
.sbox{
            font: 400 13.3333px Arial;
            width:245px;
      }
.lbox{
            font: 400 13.3333px Arial;
            width:500px;
      }
.day{
            width: 40px;
            font: 400 13.3333px Arial;
            float:left;
      }
.month{
            width: 100px;
            font: 400 13.3333px Arial;
            float:left;
      }
.year{
            width: 60px;
            font: 400 13.3333px Arial;
            float:left;
      }
.gender{
      width:500px;
      margin-left: 0px;
      margin-inline-start: 0px;
      margin-inline-end: 0px;

}
.submit{
      width:150px;
      height:30px;
      color:white;
      font:400 13.3333px Arial;
      background: green;
      }
.tandc{
      width:500px;
      color: #1c1e21;
      direction: ltr;
      line-height: 1.34;
      }
.hr{
      width:600px;
      height:1px;
      background: grey;
   }